<a href="https://colab.research.google.com/github/NazimBL/Covid-19-Early-Detection/blob/main/CovidPreProcess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
covid_path = "AV2GF3B_COVID.csv"
healthy_path = "AFYLHG4.csv"
others_path = "AA0HAI1_1_hros.csv"

#Covid

In [4]:
df = pd.read_csv(covid_path)

FileNotFoundError: ignored

In [ ]:
df2 = df[['Time', 'Var1']]
time_df = df['Time']

In [ ]:
arr = np.array_split(df2, 132)
arr_time = np.array_split(time_df, 132)

In [ ]:
np.shape(arr_time[1])

(981,)

In [ ]:
arr_time[0]

0      2025-12-28 00:00:00
1      2025-12-28 00:01:00
2      2025-12-28 00:02:00
3      2025-12-28 00:03:00
4      2025-12-28 00:04:00
              ...
976    2025-12-28 16:16:00
977    2025-12-28 16:17:00
978    2025-12-28 16:18:00
979    2025-12-28 16:19:00
980    2025-12-28 16:20:00
Name: Time, Length: 981, dtype: object

In [ ]:
arr[0]

                    Time       Var1
0    2025-12-28 00:00:00  66.000000
1    2025-12-28 00:01:00   9.428571
2    2025-12-28 00:02:00  68.000000
3    2025-12-28 00:03:00  71.000000
4    2025-12-28 00:04:00  71.000000
..                   ...        ...
976  2025-12-28 16:16:00  74.000000
977  2025-12-28 16:17:00  72.000000
978  2025-12-28 16:18:00  73.000000
979  2025-12-28 16:19:00  76.000000
980  2025-12-28 16:20:00  74.000000

[981 rows x 2 columns]

In [ ]:
start_date = df['start date'][0]
recovery_date = df['recovery date'][0]

In [ ]:
start_query = time_df[time_df == start_date]
recovery_query = time_df[time_df == recovery_date]

In [ ]:
start_query

66240    2026-02-12 00:00:00
Name: Time, dtype: object

In [ ]:
start_index = df.index[df["Time"]==start_date].tolist()[0]
recovery_index = df.index[df["Time"]==recovery_date].tolist()[0]

In [ ]:
recovery_index

120960

In [ ]:
df = df.loc[start_index:recovery_index]

In [ ]:
df = df[df['Var1'].notnull()]

In [ ]:
df = df.rename(columns={"Var1": "HROS",})
df = df.reset_index(drop=True)

In [ ]:
dataset_ROI = df
nbr_of_samples = len(dataset_ROI)

In [ ]:
dataset_ROI["label"] = '1'
dataset_ROI.to_csv("COVID_VECTOR2.csv", index=False)

In [ ]:
nbr_of_samples = len(dataset_ROI)

In [ ]:
nbr_of_samples

26130

#Healthy

In [ ]:
df = pd.read_csv(healthy_path)

In [ ]:
df = df[df['Var1'].notnull()]

In [ ]:
len(df)/720

183.65

In [ ]:
df = df.rename(columns={"Var1": "HROS","diagnosis":"label"})
df = df.reset_index(drop=True)

In [ ]:
dataset_ROI = df.loc[:nbr_of_samples-1]

In [ ]:
dataset_ROI

                      Time        HROS
0      2028-02-08 00:00:00   12.484375
1      2028-02-08 00:01:00   95.700000
2      2028-02-08 00:02:00  103.200000
3      2028-02-08 00:03:00   86.727273
4      2028-02-08 00:04:00   66.300000
...                    ...         ...
26125  2028-02-27 03:18:00   83.666667
26126  2028-02-27 03:19:00   85.375000
26127  2028-02-27 03:20:00   80.250000
26128  2028-02-27 03:21:00   83.363636
26129  2028-02-27 03:22:00   80.100000

[26130 rows x 2 columns]

In [ ]:
len(dataset_ROI)

26130

In [ ]:
dataset_ROI["label"] = '0'
dataset_ROI.to_csv("HEALTHY_VECTOR2.csv", index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#Other

In [ ]:
df = pd.read_csv(others_path)

In [ ]:
start_date = df['start date'][0]
#recovery_date = df['recovery date'][0]

In [ ]:
start_date

'2029-08-04 00:00:00'

In [ ]:
#recovery_date

In [ ]:
start_index = df.index[df["Time"]==start_date].tolist()[0]
#recovery_index = df.index[df["Time"]==recovery_date].tolist()[0]

In [ ]:
#df = df.loc[start_index:recovery_index]
df = df.loc[start_index:]

In [ ]:
len(df)

43683

In [ ]:
df = df[df['Var1'].notnull()]

In [ ]:
len(df)

19455

In [ ]:
df = df.rename(columns={"Var1": "HROS",})
df = df.reset_index(drop=True)

In [ ]:
dataset_ROI = df.loc[:nbr_of_samples-1]

In [ ]:
len(dataset_ROI)

19455

In [ ]:
dataset_ROI["label"] = '0'
del dataset_ROI["start date"]
#del dataset_ROI["recovery date"]
dataset_ROI.to_csv("OTHER_VECTOR2.csv", index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.